.code-block{
    width: 200px;
    border: 1px solid grey;
    margin: 10% auto;
    -webkit-box-shadow: 0 0 18px 1px #250BFF;
    box-shadow: 0 0 18px 1px #250BFF;
}
.text-area{
    width: 196px;
    text-align: center;
    height: 50px;
}
button{
    height: 35px;
    width: 48px;
    margin: 2px 1px;
}